@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>MMA:  <a href="https://github.com/manuelmtz25" target="_blank">Azure WebApps + Github</a>.</p>
</div>
